body {
  background: transparent; /* Make it white if you need */
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  width: 400px;
  height: 200px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;

  padding: 20px;

  overflow: hidden;
}

.App button {
  margin-bottom: 10px;
}

.content {
  border: 1px solid green;

  overflow: auto;

  /* 
   * Timing instruction that animates changes of a property from one value to another over time.
   * In this example, we animate the transform and background-color properties.
   */
  transition: transform 0.5s ease-in-out,
              background-color 0.5s ease-in-out;
}

  /* "Visible" position - moves the element to the "normal" position */
.content.visible {
  transform: translateX(0);
  background-color: lightgoldenrodyellow;
}

/* "Hidden" position - moves the element outside of the viewport, to the right */
.content.hidden {
  transform: translateX(calc(100% + 20px));
  background-color: lightskyblue;
}
